# Comments are provided throughout this file to help you get started.
# If you need more help, visit the Docker Compose reference guide at
# https://docs.docker.com/go/compose-spec-reference/

# Here the instructions define your application as a service called "app".
# This service is built from the Dockerfile in the current directory.
# You can add other services your application may depend on here, such as a
# database or a cache. For examples, see the Awesome Compose repository:
# https://github.com/docker/awesome-compose
services:
  app:
    build:
      context: .
      target: final
    ports:
      - 3333:3333
    environment:
      DATABASE_URL: file:/app/prisma/dev.db
      STARKNET_RPC_URL: https://starknet-mainnet.public.blastapi.io
      VAULT_ADDRESS: 0x0683bc21ada95e6c96ef268d5e28851ba6c029a743c97b6a368ec6a191bfae90
    volumes:
      - prisma-data:/app/prisma

volumes:
  prisma-data:
